/* .aboutUs{
margin: auto;
flex-flow:column;
height: 100vh;
}

.aboutUsImage{
    display: flex;
    width: 50%;
}

.aboutUsImage-image1{
 
    width: 30%;
    height: 30vh;
    margin: auto;
    margin-top: 10px;

}

.aboutUsImage-image2{
 
    width: 30%;
    height: 25vh;
    margin: auto;
    margin-top: 10px;

}

.aboutUsSection1{
    width: 0vw;
    word-wrap: break-word;
    margin: auto;
    height: fit-content;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;

}



.aboutUsSection2{
    display: flex;
    width: 70vw;
    word-wrap: break-word;
    margin: auto;
    height: fit-content;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;

}

.aboutUsSection3{
    display: flex;
    width: 70vw;
    word-wrap: break-word;
    margin: auto;
    background-color:#DD5353;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;

} */

.AboutUsSection {
    box-shadow: 2px 2px 5px 2px lightgray;
}

.AboutUsSection p,h2{
    text-align: left;
}

.AboutUsSection1{
 background-color:  #FED049;
 width: 65vw;
 margin: auto;
 margin-bottom: 10px;
 /* text-align: left; */
 padding: 10px;
 color: white;
}




.AboutUsSection2{
    background-color:  #22A39F;
    width: 65vw;
    margin: auto;
    margin-bottom: 10px;
    /* text-align: left; */
    padding: 10px;
    color: white;
    display: flex;
   }

   .AboutUsSection3{
    background-color: #DD5353;
    width: 65vw;
    margin: auto;
    margin-bottom: 10px;
    /* text-align: left; */
    padding: 10px;
    color: white;
    display: flex;
   }

   .aboutUsImage-image1{
 
    width: 200px;
    /* height: 30vh; */
    margin: auto;
    margin-top: 10px;

}

.aboutUsImage-image2{
 
    width: 200px;
    /* height: 30vh; */
    margin: auto;
    margin-top: 10px;

}

