footer {
  background-color: #501B1D;
  }
  footer.footer-2 {
    background-color: #fff;
  }
  footer.footer-2 .footer-widgets-wrapper a, footer.footer-2 .footer-bottom-wrapper a, footer.footer-2 .footer-widgets-wrapper p, footer.footer-2 .footer-bottom-wrapper p, footer.footer-2 .footer-widgets-wrapper span, footer.footer-2 .footer-bottom-wrapper span {
    color: #617686 !important;
  }
  footer.footer-2 .widget-title h5 {
    color: "black" !important;
  }
  footer.footer-2 .footer-bottom-content {
    border-top: 1px solid rgba(8, 15, 30, 0.1) !important;
  }
  footer .footer-widgets-wrapper {
    padding-top: 70px;
    padding-bottom: 100px;
  }
  @media (max-width: 991px) {
    footer .footer-widgets-wrapper {
      padding-top: 50px;
      padding-bottom: 80px;
    }
  }
  footer .footer-widgets-wrapper .col-12 {
    overflow: hidden;
  }
  footer .footer-widgets-wrapper a, footer .footer-widgets-wrapper p, footer .footer-widgets-wrapper span {
    color: rgba(255, 255, 255, 0.7);
  }
  footer .footer-widgets-wrapper .single-footer-widget {
    margin-top: 30px;
  }
  footer .footer-widgets-wrapper .single-footer-widget .widget-title h5 {
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 20px;
    text-transform: capitalize;
    margin-left: 18%;
  }
  footer .footer-widgets-wrapper .single-footer-widget ul li {
    display: block;
  }
  footer .footer-widgets-wrapper .single-footer-widget ul li a {
    display: block;
    font-size: 18px;
    font-weight: 400;
    margin-top: 10px;
    color: #fff !important;
  }
  footer .footer-widgets-wrapper .single-footer-widget ul li a:hover {
    color: #F54748 !important;
  }
  footer .footer-widgets-wrapper .about-us-widget .footer-logo {
    margin-bottom: 20px;
  }
  footer .footer-widgets-wrapper .about-us-widget p {
    font-size: 18px;
  }
  footer .footer-bottom-wrapper .footer-bottom-content {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    padding: 35px 0px;
  }
  @media (max-width: 767px) {
    footer .footer-bottom-wrapper .footer-bottom-content {
      padding: 20px 0px;
      text-align: center;
    }
  }
  footer .footer-bottom-wrapper .footer-bottom-content .site-copyright p {
    font-size: 16px;
    line-height: 24px;
    color: #fff;
  }
  footer .footer-bottom-wrapper .footer-bottom-content .site-copyright p a {
    line-height: inherit;
    font-size: inherit;
    font-weight: 500;
    color: #fff;
  }
  footer .footer-bottom-wrapper .footer-bottom-content .social-links.red-color a {
    color: #fff !important;
    background: rgba("black");
  }
  footer .footer-bottom-wrapper .footer-bottom-content .social-links.red-color a:hover {
    background: #F54748;
  }
  footer .footer-bottom-wrapper .footer-bottom-content .social-links.gray-bg a {
    background-color: rgba("black");
    color: #fff !important;
  }
  footer .footer-bottom-wrapper .footer-bottom-content .social-links a {
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.3);
    color: #fff;
    font-size: 14px;
    margin-left: 15px;
    transition: all 0.3s ease-in-out;
  }
  @media (max-width: 767px) {
    footer .footer-bottom-wrapper .footer-bottom-content .social-links a {
      margin-left: 10px;
    }
  }
  footer .footer-bottom-wrapper .footer-bottom-content .social-links a:first-child {
    margin-left: 0;
  }
  footer .footer-bottom-wrapper .footer-bottom-content .social-links a:hover {
    background-color: "black";
    color: #fff !important;
  }
  