.contact-headings {
  margin-top: 100px;
  background-color: rgb(121, 0, 196);
  width: 90%;
  padding: 1em 0 6em 10vw;
  display: block;
}

.contact-headings h1 {
  font-size: 3em;
  text-align: left;
  color: #dd5353;
}
.contact-headings p {
  text-align: left;
  color: white;
  margin-top: 0;
  margin-bottom: 2em;
}
.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -5em;
  /* height: 750px; */
}
.contact-body {
  width: 80vw;
}
.cards {
  display: flex;
  justify-content: space-between;
}
.card {
  /* backdrop-filter: blur(10px); */
  background-color: white;
  /* box-shadow: 0 0 30px gray; */
  border: 0.1px solid rgb(187, 187, 187);
  padding: 3em;
  width: 50%;
  height: 17em;
}

.card:nth-child(odd) {
  margin-right: 2em;
}

.card-text,
.card-title {
  margin: 0;
}

.card-text {
  padding: 1em 0;
}
.card-icon {
  font-size: 2.5em;
}
.card ul {
  padding: 0;
}

/* Media queries */
@media screen and (max-width: 952px) {
  .card {
    height: 18em;
  }
}
@media screen and (max-width: 853px) {
  .card {
    height: 19em;
  }
}
@media screen and (max-width: 791px) {
  .contact-body {
    padding: 0 20px;
    width: 100%;
  }
  .cards {
    display: grid;
    place-items: center;
  }
  .card-icon {
    font-size: 2em;
  }
  .card {
    height: 15em;
    padding: 2em 20px;
    width: 90%;
  }
  .card:nth-child(odd) {
    margin-right: 0;
  }
  .card:nth-child(even) {
    margin-top: 2em;
  }
  .card-text {
    padding: 1em 3em;
  }
}
@media screen and (max-width: 536px) {
  .card p {
    padding: 0 1em;
  }
}
@media screen and (max-width: 388px) {
  .card {
    height: 12em;
  }
  /* .card:nth-child(even) {
    height: 20.5em;
  } */
  .card-text br {
    display: block;
  }
  .card-icon {
    font-size: 1em;
  }
}
