.footerContainer {
  width: 100%;
  background-color: #f1f1f1;
  color: rgb(88, 88, 88);
  display: flex;
  justify-content: center;
  align-items: center;
}
.footerContent {
  width: 80%;
  padding: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
}
.fixedWidth {
  float: left;
  width: 33%;
  text-align: left;
  margin: 0 2em;
}
.fixedWidth:nth-child(odd) {
  margin-left: 0;
  margin-right: 0;
}
.footerLogo h1 {
  margin: 0;
}
h2 {
  margin: 0;
}
ul {
  padding: 0;
}
li {
  padding: 0.5em 0;
}
.contactInfo li {
  float: left;
}
.icon {
  font-size: 2em;
  color: rgb(88, 88, 88);
  padding-right: 1em;
  float: left;
}
.contactDetails {
  margin: 2em 0;
}
