footer h1 {
  margin: 0;
}
.footerContainer {
  background-color: black;
  padding: 3% 5%;
  color: #dd5353;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
}
.footerLogo {
  width: 25%;
}
.footerLogo p {
  text-align: justify;
  float: left;
}
